body {
  font-family: georgia;
  font-size: 20px;
  color: white;
  background-color: black;

}

h1 {
  font-size: 45px;
  color: gold;
  text-align: center;
  background-color: dimgray;
  border: solid 1px white;
  border-radius: 6px;
  margin-left: 300px;
  margin-right: 300px;
  margin-top: 30px;

}

h2 {
  font-size: 35px;
  color: black;
  background-color: gold;
  border: solid 1px white;
  border-radius: 6px;
  text-align: center;
  margin-left: 300px;
  margin-right: 300px;
  margin-bottom: 20px;

}

h3 {
  font-family: georgia;
  font-size: 23px;
  text-decoration: underline;
}

ul {
  font-family: courier;
  text-align: justify;
  margin-left: 350px;
  margin-right: 350px;

}

#p1 {
  font-family: courier;
  text-align: center;
  margin-left: 300px;
  margin-right: 300px;
}

#p2 {
  font-family: courier;
  text-align: justify;
  margin-left: 350px;
  margin-right: 350px;
  margin-bottom: 50px;
}

#links {
  background-color: dimgray;
  border: solid 1px white;
  border-radius: 6px;
  margin-bottom: 50px;
  text-align: center;
}
